<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-title>
      Headers
    </ion-title>
  </ion-toolbar>
  <ion-segment scrollable mode="md" color="primary">
    <ion-segment-button mode="md"
                        value="opcion">
      <ion-label text-capitalize>Cualquier cosa</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-segment scrollable mode="md" color="primary">
      <ion-segment-button mode="md"
                          value="opcion">
        <ion-label text-capitalize>Cualquier cosa</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-segment scrollable mode="md" color="primary">
        <ion-segment-button mode="md"
                            value="opcion">
          <ion-label text-capitalize> cualquier cosa</ion-label>
        </ion-segment-button>
      </ion-segment>
</ion-header>

<ion-content>

</ion-content>
